#titulo {
    color: $color-yellow;
    text-align: center;
    margin: 100px;
    font-size: 70px;
  }
  
  #subtitulo {
    color: $color-yellow;
    text-align: center;
    margin: 80px;
    font-size: 25px;
  }
  
  .row {
    margin: 50px;
  }
  
  .iconos {
    margin: 10px;
    text-align: center;
  }