header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  a {
    color: $color-white;
    margin: 10px;
  }
  
  .gif {
    margin: 100px;
  }